autopep8==2.3.2
blinker==1.9.0
click==8.3.1
Flask==3.0.0
greenlet==3.5.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
pycodestyle==2.14.0
pyflakes==3.4.0
python-dateutil==2.8.2
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.16.0
Werkzeug==3.1.6
